<%= render 'amazon/header' %>

<h1>Juan Pablo Ruiz, email: jpruizk9@gmail.com, cel: 314 830 53 47</h1>
<p>Find me in app/views/landing/contact.html.erb</p>


<Footer>
	este es mi footer para el controlador
</Footer>